* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", Arial, Helvetica, sans-serif;
  background-color: #f2ecdc;
  text-align: center;  
}

a {
  text-decoration: none;
  font-weight: bold; 
  color: #614a28; 
}
a:hover {
    color: #5e514b;
    background-color: #ffffff;
}

.header-box {
  border: 2px solid #000000;
  width: 300px;
  margin: auto; 
  margin-top: 15px; 
  margin-bottom: 15px;    
  color: #523a21;
  border-radius: 50px;  
  font-size: 35px; 
  border-color: #523a21;  
}

.first-border {
  border: 2px solid #bd9b62;
  width: 320px; 
  margin: auto;    
}

img {
  border: 2px solid #294724;   
}

.first-border, img {
  padding: 5px;
  border-radius: 4px; 
}

.appetizer {
  border: 5px dotted #523a21;
  margin-top: 20px; 
  padding-top: 3px;   
  padding-bottom: 3px;
  width: 850px; 
  margin-left: 300px;  
  margin-bottom: 20px; 
}

.appetizer-color {
  color: #2c4a28; 
}

.ingredients-and-dressing-border {
  border: 8px double #523a21; 
  margin-left: 500px;
  margin-right: 500px; 
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;     
}

ul {
  list-style-type: none; 
}

.ingredients-color {
  color: #ad2121;
  font-size: 20px;   
}

.dressing-color {
  color: #602580;
  font-size: 20px;  
}

.instructions {
  border: 5px dashed #523a21;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px; 
  margin-top: 20px; 
  border-radius: 2px;  
}
ol {
  list-style-type: none; 
}

.instructions-color {
  color: #b38c0e;
  font-size: 25px;   
}
