* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    font-family: Arial, "Times New Roman", sans-serif;
    background-color: #dbcab4;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 100px;
    color: #36302a;
    font-size: 50px;
    border: 5px solid #36302a;
    padding: 3px;
    width: 380px;
    margin-left: 510px;
}

.link-color-size {
    color: #3d280f; 
    font-weight: bold;
    font-size: 25px;
}

.small-text {
    font-size: 15px;
    color: #614a28;
    font-weight: 50px;
}

.meal-name {
    color: #614a28;
    font-size: 30px;
}

a:hover {
    color: #5e514b;
    background-color: #e3dfda;
}

.space {
    margin: 25px; 
}
/* figure out what to do with bullet points */