* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, "Times New Roman", sans-serif;
    background-color: #dbcab4;
    text-align: center;
}

ul {
    list-style: none;
}

.box-one {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #36302a;
    font-size: 50px;  
    width: 380px; 
    margin-left: 150px; 
}

.link-color-size {
    color: #3d280f; 
    font-weight: bold;
    font-size: 25px;
}

.small-text {
    font-size: 15px;
    color: #614a28;
    font-weight: 50px;
}

.meal-name {
    color: #614a28;
    font-size: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #5e514b;
    background-color: #e3dfda;
}

.space {
    margin: 30px; 
}

.box-two { 
    margin-bottom: 40px;
}

.box-three {
    border: 9px solid #36302a; 
    padding: 1px; 
    width: 700px; 
    margin: auto;
    margin-top: 50px; 
    border-radius: 15px; 
}
